<section class="main container text-center col-md-7 d-flex justify-content-center align-items-center">
    <div id="wrapper">
        <h1 id="subtitle" data-text="DJ">DJ</h1>
        <div id="nav">
            <button type="button" class="btn btn-light mr-2" [routerLink]="['']">Tillbaka</button>
            <button type="button" class="btn btn-light mr-2" [routerLink]="['contact']">Kontakt</button>
        </div>
        <div class="col-12">
            <span class="text-light">
                <h2>Musik</h2>
                <p>Jag spelar musik som passar både hetsiga nattklubbar och sångvänliga barer.</p>
                <h2>Erfarenhet</h2>
                <p>Sammarbete med <a href="https://www.redbull.com/se-en/">RedBull</a> på <a href="https://www.nojesfabriken.se/">Nöjesfabriken</a>s Halloweenfest år 2019.</p>
                <p>Sammarbete med <a href="https://karlstadstudentkar.se/">Karlstad Studentkår</a> på <a href="https://www.nojesfabriken.se/">Nöjesfabriken</a>.</p>
                <h2>Boka</h2>
                <p>Du kan boka mig för fester och pr-event.</p>
            </span>
        </div>
    </div>
</section>