/* Pallette https://flatuicolors.com/palette/se */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

/* TWIST N' SHOUT */
@keyframes herocape_reveal {
    0%{ background-size: 100% 155%; }
    100%{ background-size: 100% 100%; }
}

/* GENERAL SECTION, WE DONT SEE COLORS */
* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
    color: black;
    text-decoration: none;
    -webkit-overflow-scrolling: none;
    -ms-overflow-style: none;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 11vw;
    transform: rotate(-5deg);
    position: relative;
    top: 10vh;
}
h2 {
    font-family: 'Pacifico', cursive;
    font-size: 6vw;
    transform: rotate(-5deg);
}
a{
    text-decoration: underline;
}
a:hover {
    background: black;
    text-decoration: none;
}
p {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vw;
}
nav {
    position: absolute;
    top: 5vh;
    right: 5vw;
}
nav button {
    background-color: #1e272e;
    border: 2.5px solid;
    border-radius: 2vh;
    padding: 1vh 3vw;
}
nav button:hover {
    cursor: pointer;
}
.hero {
    padding: 6vh 6vw;
    height: 88vh;
    animation-name: herocape_reveal;
    animation-timing-function: ease-out;
    animation-duration: 10s;
}
.hero ul {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
}
.hero p {mix-blend-mode: difference;}
.hero .arrow {
    height: 15vh;
    width: 15vw;
    fill: #1e272e;
    position: fixed;
    bottom: -4vh;
    right: 45vw;
}
.cape {
    height: 88vh;
    position: relative;
    top: 5vh;
}
.cape .card {
    display: block;
}
.cape .card:nth-child(2){
    position: relative;
    top: 15vh;
}
.cape .card:nth-child(3){
    position: relative;
    top: 5vh;
}
.cape .card:nth-child(4){
    position: relative;
    top: 15vh;
}
.cape .card:nth-child(5){
    position: relative;
    top: 5vh;
}
.cape .card img {
    width: 35vw;
    height: auto;
}
.cape .card img:first-child{
    margin-left: auto;
}
.cape .card img:last-child{
    position: absolute;
    right: 0;
}
.cape .card p {
    width: 50vw;
    font-size: 2.75vw;
}
.cape .card p:first-child{
    position: relative;
    left: 14vw;
    top: 13vw;
    text-align: right;
}
.cape .card p:last-child{
    position: relative;
    right: -35vw;
    top: -9vw;
}
.cape .legal {
    position: absolute;
    bottom: 1vh;
    left: 18vw;
}
.cape .legal p {
    text-align: center;
    font-size: 2vw;
    opacity: 0.5;
}

/* SPECIFIC STYLE, WE ALL ABOUT COLORS */
/* HOME */
#page-home {
    background-color: #05c46b;
}
#page-home a:hover {
    color: #05c46b;
}
#page-home h1 {
    color: #0be881;
    text-shadow:
        2px 0 0 black,
        4px 0 0 #05c46b,
        6px 0 0 #05c46b,
        8px 0 0 #05c46b;
}
#page-home button {
    color: #05c46b;
    border-color: #05c46b;
}
#page-home button:hover {
    color: black;
    background-color: #05c46b;
}
#page-home .hero {
    background:linear-gradient(-5deg, #05c46b 55vh,#1e272e 55vh);
}
#page-home .hero p {
    color: #05c46b;
}
#page-home .cape {
    background-color: #05c46b;
}

/* CONTACT */