/* Pallette https://flatuicolors.com/palette/se */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

/* GENERAL */

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* HERO */

.hero {
	background:linear-gradient(-5deg, #05c46b 10%,#1e272e 10%);
   
    padding: 6vh 6vw;
    background-color: #1e272e;
    height: 88vh;
}

.hero h1 {
    font-family: 'Pacifico', cursive;
    font-size: 11vw;
    color: #0be881;
    transform: rotate(-5deg);
    text-shadow:
        2px 0 0 #05c46b,
        4px 0 0 #05c46b,
        6px 0 0 #05c46b,
        8px 0 0 #05c46b;
}

.hero li {
    padding: 5px 0;
}

.stamp {
    width: 55vw;
    padding: 1vh 1vw;
}

.stamp p {
    font-family: 'Quicksand', sans-serif;
    font-size: 3vw;
    color: #808e9b;
}