@font-face {
    font-family: Gvtime;
    src: url('fonts/Gvtime-Regular.ttf') format("truetype"),
         url('fonts/Gvtime-Regular.woff2') format('woff2'),
         url('fonts/Gvtime-Regular.woff') format('woff');
}

html {
    background-color:   black;
}

body {
    color: azure;
    font-family: monospace;
    width: 75vw;
    margin: auto 12.5vw;
}

h1 {
    font-family: Gvtime, serif;
    font-size: 5em;
    margin-top: 0.25em;
    margin-bottom: 0;
    text-shadow: 0.025em 0.025em lightseagreen;
}

h2 {
    text-shadow: 0.025em 0.025em lightseagreen;
}

h2 img {
    width: auto;
    height: 0.75em;
}

q {
    color: slategray;
}

a:link, a:visited {
    color:skyblue;
    text-decoration: underline;
}

a:hover, a:active {
    color: lightseagreen;
}