@font-face{
	font-family: 'Vendura';
	src: url(/fonts/Vendura-SemiBold.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Vendura';
	src: url(/fonts/Vendura-SemiBoldItalic.otf);
	font-weight: normal;
	font-style: italic;
}

html, body {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	background-color: #1e272e;
}

h1, h2, h3, p {
	font-family: "Vendura", "Times New Roman", Times, serif;
}

.unselectable {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}