/* Another Typewriter Font */
@font-face {
    font-family: 'AnotherTypewriter';
    src: url('/fonts/another-typewriter.ttf') format('truetype');
    font-weight: 400; /* Use 400 for normal */
    font-style: normal;
}

/* Elegant Typewriter Font */
@font-face {
    font-family: 'ElegantTypewriter';
    src: url('/fonts/elegant-typewriter-regular.ttf') format('truetype');
    font-weight: 400; /* Use 400 for normal */
    font-style: normal;
}

@font-face {
    font-family: 'ElegantTypewriter';
    src: url('/fonts/elegant-typewriter-bold.ttf') format('truetype');
    font-weight: 700; /* Use 700 for bold */
    font-style: normal;
}

@font-face {
    font-family: 'ElegantTypewriter';
    src: url('/fonts/elegant-typewriter-light.ttf') format('truetype');
    font-weight: 300; /* Use 300 for light */
    font-style: normal;
}

/* JMH Typewriter Font Families */
@font-face {
    font-family: 'JMHTypewriter';
    src: url('/fonts/jmh-typewriter.otf') format('opentype'),
         url('/fonts/jmh-typewriter.ttf') format('truetype');
    font-weight: 400; /* Use 400 for normal */
    font-style: normal;
}

@font-face {
    font-family: 'JMHTypewriter';
    src: url('/fonts/jmh-typewriter-black.otf') format('opentype'),
         url('/fonts/jmh-typewriter-black.ttf') format('truetype');
    font-weight: 900; /* Use 900 for black */
    font-style: normal;
}

@font-face {
    font-family: 'JMHTypewriter';
    src: url('/fonts/jmh-typewriter-bold.otf') format('opentype'),
         url('/fonts/jmh-typewriter-bold.ttf') format('truetype');
    font-weight: 700; /* Use 700 for bold */
    font-style: normal;
}

@font-face {
    font-family: 'JMHTypewriter';
    src: url('/fonts/jmh-typewriter-thin.otf') format('opentype'),
         url('/fonts/jmh-typewriter-thin.ttf') format('truetype');
    font-weight: 100; /* Use 100 for thin */
    font-style: normal;
}

/* Volta Font Families */
@font-face {
    font-family: 'Volta';
    src: url('/fonts/volta-w01-bold-v2.eot');
    src: url('/fonts/volta-w01-bold-v2.eot?#iefix') format('embedded-opentype'),
         url('/fonts/volta-w01-bold-v2.woff2') format('woff2'),
         url('/fonts/volta-w01-bold-v2.woff') format('woff'),
         url('/fonts/volta-w01-bold-v2.ttf') format('truetype'),
         url('/fonts/volta-w01-bold-v2.otf') format('opentype'),
         url('/fonts/volta-w01-bold-v2.svg#VoltaW01BoldV2') format('svg');
    font-weight: 700; /* Use 700 for bold */
    font-style: normal;
}

@font-face {
    font-family: 'Volta';
    src: url('/fonts/volta-w01-medium-italic-v2.eot');
    src: url('/fonts/volta-w01-medium-italic-v2.eot?#iefix') format('embedded-opentype'),
         url('/fonts/volta-w01-medium-italic-v2.woff2') format('woff2'),
         url('/fonts/volta-w01-medium-italic-v2.woff') format('woff'),
         url('/fonts/volta-w01-medium-italic-v2.ttf') format('truetype'),
         url('/fonts/volta-w01-medium-italic-v2.otf') format('opentype'),
         url('/fonts/volta-w01-medium-italic-v2.svg#VoltaW01MediumItalicV2') format('svg');
    font-weight: 500; /* Use 500 for medium */
    font-style: italic;
}

@font-face {
    font-family: 'Volta';
    src: url('/fonts/volta-w01-medium-v2.eot');
    src: url('/fonts/volta-w01-medium-v2.eot?#iefix') format('embedded-opentype'),
         url('/fonts/volta-w01-medium-v2.woff2') format('woff2'),
         url('/fonts/volta-w01-medium-v2.woff') format('woff'),
         url('/fonts/volta-w01-medium-v2.ttf') format('truetype'),
         url('/fonts/volta-w01-medium-v2.otf') format('opentype'),
         url('/fonts/volta-w01-medium-v2.svg#VoltaW01MediumV2') format('svg');
    font-weight: 500; /* Use 500 for medium */
    font-style: normal;
}

@font-face {
    font-family: 'Volta';
    src: url('/fonts/volta-w01-regular.eot');
    src: url('/fonts/volta-w01-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/volta-w01-regular.woff2') format('woff2'),
         url('/fonts/volta-w01-regular.woff') format('woff'),
         url('/fonts/volta-w01-regular.ttf') format('truetype'),
         url('/fonts/volta-w01-regular.otf') format('opentype'),
         url('/fonts/volta-w01-regular.svg#VoltaW01Regular') format('svg');
    font-weight: 400; /* Use 400 for normal */
    font-style: normal;
}

/* Global Font Settings */
body, h1, h2, h3, h4, h5, h6, p, a, span, div, li, ul, ol, blockquote, pre, code, em, strong, small {
    font-family: 'Volta', 'JMHTypewriter', 'ElegantTypewriter', 'AnotherTypewriter', serif;
}

/* 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Volta', serif;
}

p {
    font-family: 'Volta', 'JMHTypewriter', 'ElegantTypewriter', 'AnotherTypewriter', serif;
}

a {
    font-family: 'Volta', serif;
}

span, div, li, ul, ol, blockquote, pre, code, em, strong, small {
    font-family: 'Volta', serif;
}
*/
