<section class="main container text-center col-md-7 d-flex justify-content-center align-items-center">
    <div id="wrapper">
        <h1 id="subtitle" class="col-12" data-text="IT">IT</h1>
        <div id="nav">
            <button type="button" class="btn btn-light mr-2" [routerLink]="['']">Tillbaka</button>
            <button type="button" class="btn btn-light mr-2" [routerLink]="['contact']">Kontakt</button>
        </div>
        <div class="col-12">
            <span class="text-light">
                <p><a href="https://mega.nz/#!znJEUCpC!RHKAq8FmNfbLyOK5afToREQJ-JtQDIY-ABbzdxY3y1c">Ladda ner mitt CV!</a></p>
                <h2>Vem är jag?</h2>
                <p>Mitt namn är Oscar och jag är en blivande dataingenjör med ett brinnande intresse för datasäkerhet och backend-programmering.</p>
                <h2>Varför anställa mig?</h2>
                <p>Jag har akademisk kunskap inom datavetenskap och yrkesmässig erfarenhet inom programmering, agila arbetmetoder och ingenjörskunskap. Mer specifik information finns på mitt cv. Tveka inte att <a [routerLink]="['/contact']">kontakta</a> mig.</p>
            </span>
        </div>
    </div>
</section>