<article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        <a rel="author" itemprop="url" href="AUTHOR_URL" title="View author details">
            <span itemprop="name">
                @@@AUTOR_NAME
            </span>
            <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="">
            </span>
        </a>
        <p>
            <time datetime="2015-03-26T10:43:39Z" itemprop="datePublished">
                26 Mar 2015
            </time>
            <meta itemprop="dateModified" content="2017-04-11T12:52:01Z">
            <img src="@@@SRC_TO_FLAG" alt="@@@FLAG_ALT_TEXT" class="flag">
        </p>
    </span>
    <meta itemprop="mainEntityOfPage" content="@@@URL_OF_THIS_BLOG_POST">
    <hr role="separator">
    <span itemprop="articleBody">
        @@@BLOG_ARTICLE_BODY
    </span>
</article>