<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oscar Andersson</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body itemscope itemtype="https://schema.org/WebPage">  
    <meta itemprop="accessibilityControl" content="fullKeyboardControl">
    <meta itemprop="accessibilityControl" content="fullMouseControl">
    <meta itemprop="accessibilityHazard" content="noFlashingHazard">
    <meta itemprop="accessibilityHazard" content="noMotionSimulationHazard">
    <meta itemprop="accessibilityHazard" content="noSoundHazard">
    <meta itemprop="accessibilityAPI" content="ARIA">
    <header itemscope itemtype="https://schema.org/Organization">
        <h1 id="globalTitle" itemprop="name">
            <a href="index.html" itemprop="url"></a>
            Oscar
        </h1>
    </header>
    <main aria-label="Main content" aria-label="Main content" itemscope itemtype="https://schema.org/Blog">