<section class="main container text-center col-md-7 d-flex justify-content-center align-items-center">
    <div id="wrapper">
        <h1 id="title" data-text="Oscar">Oscar</h1>
        <div id="nav">
            <button type="button" class="btn btn-light mr-2" [routerLink]="['/it']">IT</button>
            <button type="button" class="btn btn-light mr-2" [routerLink]="['/dj']">DJ</button>
            <button type="button" class="btn btn-light mr-2" [routerLink]="['/contact']">Kontakt</button>
        </div>
        <div class="col-12">
            <span class="text-light">
                <p>Jag Oscar Andersson studerar sista året till dataingenjör på Karlstads Universitet.</p>
                <p>Jag frilansar som DJ. Klicka på <a [routerLink]="['/dj']" >dj</a> för mer info.</p>
            </span>
        </div>
    </div>
</section>