html {
    background: black;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#Matrix {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

article {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

article > .window {
    margin: 2rem;
}

.title-bar-text > img {
    height: 10px;
    width: auto;
}